select{
	width: 50px;
	height:30px;
	margin-left: 20%;
}
.detail li>first-child{
	height:30px;
}
.detail li input{
	width:180px;
	font-size: 16px;
	border: none;
}
.upload{
	text-align: center;
}
.upload input[type='submit']{
	width: 120px;
	height:35px;
	border-radius: 12px;
	color:#fff;
	font-size: 16px;
	background-color: #F1861C;
}