/*右箭头*/
@font-face {font-family: 'iconfont';
    src: url('../ux/iconfont.eot'); /* IE9*/
    src: url('../ux/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../ux/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../ux/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../ux/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color:#999;
  }
.record{
  width: 98%;
  /*border:1px solid blue;*/
}
.re-top{
  width: 94%;
  height:50px;
  line-height: 50px;
  /*margin:10px auto;*/
  text-align: center;
  position: fixed; 
  /*top:10px;*/
  top:0px;
  padding-top:10px;
  font-size: 22px;
  background-color:#f3f3f3;
  font-weight: bold;
  border-radius: 5px;
  font-weight: bold;
  /*background-color: #eee;*/
}
.re-top div{
  width: 49%;
  margin:0;
  padding:0;
  display: inline-block;
  /*font-weight: bolder;*/
}
.re-middle{
  /*距离顶部的距离*/
  width: 92%;
  margin: 55px auto 0; 
  color:#000;
}
.re-middle ul li{
  width: 100%;
  height:60px;
  font-size: 16px;
  text-align: left;
  margin:15px auto 0;
  display: inline-block;
  border-bottom:1px dotted #ddd; 
  /*border: 1px solid red;*/
}
.lf{
  width: 78%;
  height:50px;
  padding-left: 2%;
  /*font-weight: bold;*/
  display: inline-block; 
  /*border: 1px solid blue;*/
}
.lf>div{
  height: 30px;
  line-height: 30px;
  color:#000;
}
.lf span{
  /*font-weight: bold;*/
  /*color:#A9BABE;*/
  color:#333;
  margin-left: 10px;
  display: inline-block;
}
.rg{
  width: 14%;
  text-align: top;
  display: inline-block;
  color:#999;  
 
}
.rg i{
  /*height:30px;*/
  padding-top: 15px;
  padding-left: 80%;
  vertical-align: top;
  display: inline-block;
  /*line-height: 50px;*/
  /*text-align: bottom;*/
  margin-top:-30px;
  color:#666;
  /*border: 1px solid blue;*/
}
.count{
  width: 30%;
  margin-left:68%;
  display: inline-block; 
  margin-top:20px;
  /*color: red;*/
}
